{%extends "twitting/base_generic.html"%}
{%block content%}
{%if form.errors%}
        <div class="mx-auto" style="max-width: 30rem;">
        <div class="alert alert-danger d-sm-flex p-1 align-items-center" role="alert">
            {{form.old_password.errors}}
            {{form.new_password1.errors}}
            {{form.new_password2.errors}}
        </div>
        </div>
    {%endif%}
<div class="mx-auto" style="max-width: 30rem;">
<div class="card text-center mx-auto border-primary">
<div class="card-header mb-2 bg-primary opacity-75 text-white">
  
  <h3>Chenging Password<h3>
</div>
<div class='card-body text-black '>
  <form  class="mx-auto mb-3" style="max-width:30rem;" action="" method="post">
    {%csrf_token%}
    {{form.as_p}}
    <div class="d-grid gap-2 col-8 mx-auto opacity-75">
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  </form>
</div>
<div class="card-footer mb-1">

</div>
</div>
</div>


{%endblock%}