{%extends "twitting/base_generic.html"%}
{%block content%}

    {%if form.email.errors%}
        <div class="mx-auto" style="max-width: 40rem;">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>please provide your Email below</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
    {%endif%}
    
    <div class="mx-auto" style="max-width: 40rem;">
    <div class="card text-center mx-auto border-primary">
        <div class="card-header mb-2 bg-primary opacity-75 text-white">
          <h3> Resetting User Password<h3>
        </div>
        <div class='card-body text-black '>
        <form  class="mb-3" action="" method="post">
          {%csrf_token%}
          <div class="mb-3 row">
            <div class="col-sm-18">
              <input type="email" class="form-control" name="email"  placeholder="Enter Your Registered Email Address (e.g minitwitter@gmail.com)">
            </div>
          </div>
          <div class="d-grid gap-2 col-8 mx-auto opacity-75">
            <button class="btn btn-primary" type="submit">Send The Link</button>
          </div>
        </form>
      </div>
        <div class="card-footer mb-1">
            <div style="color:red">Must Be Your Valid Registred Email Address</div>
        </div>
      </div>
    </div>

{%endblock%}
