{%extends "twitting/base_generic.html"%}
{%block content%}
{%if validlink%}
{%if form.errors%}
        <div class="mx-auto" style="max-width: 40rem;">
        <div class="alert alert-danger d-sm-flex p-1 align-items-center" role="alert">
            {{form.new_password1.errors}}
            {{form.new_password2.errors}}
        </div>
        </div>
    {%endif%}
    <div class="mx-auto" style="max-width: 40rem;">
    <div class="card text-center mx-auto border-primary">
        <div class="card-header mb-2 bg-primary opacity-75 text-white">
          <h3> Resetting User Password<h3>
        </div>
        <div class='card-body text-black '>
        <form  class="mb-3" action="" method="post">
          {%csrf_token%}
          <div class="mb-3 row">
            <div class="col-sm-18">
              <input type="Password" class="form-control" name="new_password1"  placeholder="Enter new Password here" required>
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-sm-18">
              <input type="password" class="form-control" name="new_password2"  placeholder="Re-enter The new Password">
            </div>
          </div>

          <div class="d-grid gap-2 col-8 mx-auto opacity-75">
            <button class="btn btn-primary" type="submit">Save</button>
          </div>
        </form>
      </div>
        <div class="card-footer mb-1">
            <div style="text-green">
                <li>Your password can’t be too similar to your other personal information.</li>
                <li> Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </div>
        </div>
      </div>
    </div>
{%else%}
<h2> Password Reset Faild</h2>
    <p> And that may be because the link has expired or its already userd</p>
    <p align = "center" style="color green"> You can Reset The link again</p>
{%endif%}
{%endblock%}