{%extends "twitting/base_generic.html"%}
{%block content%}
{% if messages%}
  {%for message in messages%}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {%endfor%}
{%endif%}
<div class="card mx-auto" style="width: 25rem;">
    <div class="card-header">
        <a href="{%url "index"%}"><button type="button" class="btn-close" aria-label="Close"></button></a>
    </div>
    <div class="card-body text-center">
      <span style="color:green">
        <h3>You Have Successfully Reset Your Password </h3>
      </span>
    </div>
    <div class="card-footer mx-auto bg-white opacity-75 ">
      <a class=" btn btn-sm btn-primary" href="{%url "login"%}">Login In With Yor New Password</a>
    </div>
  </div>
{%endblock%}