{%extends "twitting/base_generic.html"%}
{%block content%}
<div class="card mx-auto" style="width: 25rem;">
    <div class="card-header">
        <a href="{%url "index"%}"><button type="button" class="btn-close" aria-label="Close"></button></a>
    </div>
    <div class="card-body text-center">
      <span style="color:green">
        <h3>Email sent Successfully!</h3>
      </span>
      <span>
        <b>We have Emaild You with an Instructions To Reset Your Password Check 
            <span style="color:red"><i>Your Spam Folder.</i></span>
             If you do not see the Email withing few minutes.</b>  
      </span> 
    </div>
  </div>
{%endblock%}