{%extends "twitting/base_generic.html"%}

{%block content%}
{%load static%}

{% if messages%}
  {%for message in messages%}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {%endfor%}
{%endif%}
    {% for friend in followers  %}
        {% include "users/friend_card.html"%}
    {%empty%}
        No Followers
    {% endfor %}
    
{% endblock%}